<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} 順位 {% endblock %}

{% block contents %}
{% include 'header.html' %}
<div class="container">
  <h1>順位</h1>
<table class ="table table-hover table table-striped" >
  <tr>
    <th>順位</th>
    <th>回数</th>
    <th>チーム名</th>
    <th>得点</th>
    <th>クリアタイム</th>
  </tr>
  {% for score in scores  %}
  <tr>
    <td>
      {{score.run.rank}}
    </td>
    <td>
      {{score.run.run}}
    </td>
    <td>
      {{score.run.team}}
    </td>
    <td>
      {{score.total}}
    </td>
    <td>
      {{score.run.count.clear_time}}
    </td>
  </tr>
  {% endfor %} 
</table>
<table>
  <tr>
    {% if request.user.is_authenticated %}
    <td>
      <form action="{% url 'reset_data' %}" method="GET">
        <button type="submit" style ="width:140px; height:60px; border-radius:10px;">データをリセットする</button>
      </form>
    </td>
    <td>
      <form action="{% url 'export_data' %}" method="GET">
        <button type="submit" style ="width:140px; height:60px; border-radius:10px;">データを書き出す</button>
      </form>
    </td>
    {% endif %}
    <td>
      <form action="{% url 'rank2' %}" method="GET">
        <button type="submit" style ="width:140px; height:60px; border-radius:10px;">最終順位</button>
      </form>
    </td>
  </tr>
</table>    
</div>

{% endblock %}
{% block script %}
{% endblock %}